@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@layer components {
    .headerButton {
        @apply px-6 py-2 border border-[#51557E] rounded-full uppercase text-sm tracking-widest text-white transition-all hover:border-gray-500/40 hover:text-gray-500/40
    }
    .headerButton2 {
        @apply bg-gray-300 hover:bg-gray-400 text-[#1B2430] font-bold py-2 px-4
    }
    .customGreen {
        @apply text-[#64FFDA]
    }
    .navButton {
        @apply text-sm sm:text-base px-2 md:px-5 font-semibold uppercase hover:customGreen hover:underline focus:underline
    }
    .projectButton {
        @apply text-gray-400 hover:text-[#64FFDA] hover:bg-[#64FFDA]/20 hover:underline border-2 border-[#64FFDA] text-center p-2 text-xs sm:text-sm
    }
    .projectButtonDisabled {
        @apply text-gray-400 border-2 border-gray-400 text-center p-2 text-xs sm:text-sm
    }
    .projectTag {
        @apply text-[#64FFDA] text-xs sm:text-sm hover:underline text-center underline-offset-2 underline py-1
    }
}

.particle {
    z-index: -1;
    position: fixed
}

html, body, label {
  font-family: 'Roboto Mono', monospace;
}